<div class="page">

  <div class="dashboard">

    <span class="label">
      MIS PAGOS
    </span>

    <h1>
      Ingresos
    </h1>

    <p>
      Ingresos asociados a tus departamentos.
    </p>


    <div class="income-card">

      <div class="icon">
        💳
      </div>

      <span class="income-label">
        Total recibido
      </span>

      <strong>
        S/ {{ ingresos | number:'1.2-2' }}
      </strong>

      <small>
        Se actualiza automáticamente
      </small>

    </div>

  </div>

</div>
