<!-- ============================================================
     NAVBAR PRINCIPAL

     En login y registro no mostramos ningún navbar.
============================================================ -->

<app-navbar
  *ngIf="!esRutaAuth"
></app-navbar>


<!-- ============================================================
     CONTENIDO
============================================================ -->

<div class="main-content">
  <router-outlet></router-outlet>
</div>


<!-- ============================================================
     FOOTER

     Tampoco se muestra en login ni registro.
============================================================ -->

<app-footer
  *ngIf="!esRutaAuth"
></app-footer>
