<div class="property-card">

  <img
    [src]="departamento.URL_Imagen"
    [alt]="departamento.Titulo"
    class="property-img"

  >

  <div class="property-content">

    <span class="location-badge">
  📍 {{ departamento.Distrito }}
</span>

    <h3 class="property-title">
      {{ departamento.Titulo }}
    </h3>

    <div class="property-details">
      <span>🛏️ {{ departamento.Habitaciones }} Hab.</span>
      <span>🚿 {{ departamento.Banos }} Baños</span>
    </div>

    <div class="property-price">
  <span class="amount">
    S/ {{ departamento.Precio_Noche }}
  </span>

      <span class="period">
    / noche
  </span>
    </div>


  </div>

</div>
